.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    margin-bottom: 20px;
}
input {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: lightslategray;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn-wrapper {
    text-align: center;
}

button {
    display: inline-block;
    cursor: pointer;
    background-color: #7b5dfa;
    color: white;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:focus {
    border: .10em solid darken(#7b5dfa, 10);
  }
  
button:hover {
    background-color: darken(#7b5dfa, 5);
}

.signup-link-wrapper {
    font-size: small;
    margin: -15px 0 20px 5px;
}

.signup-link-text {
    color: lightslategrey;
    font-weight: 400;
    margin-left: 5px;
}
